#page {
    width: 70%;
    margin: 0 auto; 
}


#siteheader {
    float: left;
    width: 50%;
}

#header-main-menu {
    padding-right: 1em;
    padding-top: 1em;
    float: right;
    display: block;
}

#header-main-menu ul li {
    display: inline;
    padding-left: 0.5em;
}

#header-main-menu ul li a:hover {
    text-decoration: underline;
}

#header-main-menu ul li a.active {
    color: #88f;
    text-decoration: underline;
}

/* Hide drop down now*/
#mobile-menu-dropdown {
    display: none;
}



div.submitted {
    display: block;
    padding-bottom: 0.5em;
    padding-left: 1em;
    font-style: italic;  
    font-size: 0.8em;
}

#hero {
    background: url("../img/circuit-board-desktop.jpg") no-repeat scroll center center / cover #333;
    height: 300px;
}

#footer-main-menu {
    display: none;
}


#map {
    width: 50%;
    float: left;
}

#address {
    padding: 0;
    padding-top: 3em;
}





