@font-face {
    font-family: SinkinSans;
    src: url("font/SinkinSans-400Regular.otf") format("opentype");
}

@font-face {
    font-family: SinkinSans;
    font-weight: bold;
    src: url("font/SinkinSans-400Regular.otf") format("opentype");
}

body {
    font-family: SinkinSans, Helvetica, Verdana, Sans-Serif;
}

a {
    color: #88f;
    text-decoration: none;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

p {
    padding-bottom: 1em;
    line-height: 1.3em;
}

/* Headers and menus */
#header {
    height: 50px;
    background-color: pink;
}

#siteheader {
    float: left;
    width: 90%;
}

#sitename {
    padding-top: 8px;
    padding-left: 8px;
    text-transform: uppercase;
    font-size: 2em;
    color: #333;
    font-weight: bold;
}

#slogan {
    display: none;
}

#mobile-menu-dropdown {
    float: right;
    width: 10%;
}

#header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* Main menu should not be visible in mobile view */
#header-main-menu {
    display: none;
}

#sidebar {
    display: none;
}


/* Content */
#wrapper {
    padding: 1em;
    background-color: yellow;
}

div.submitted {
    display: none;
}

.node-teaser {
    margin-bottom: 1em;
}


/* Footer */
#footer {
    text-align: center;
    border-top: solid 1px #aaa;
}

#footer-main-menu {
    text-align: center;
}

#footer-main-menu li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: solid 1px #aaa;
}
